* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

html,
body {
  overflow-x: hidden;
}
