.navbar {
  padding: 2rem;
}

.navbar-custom {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000000;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/*Cuando hacen click en el icono******/
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
}
/*Cuando la navbar este colapsada*/
.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.hero_nav_links li {
  width: auto;
  padding: 0px 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  list-style: none;
  text-decoration: none;
  a {
    transition: all 0.3s ease 0s;
  }
  &:hover {
    color: rgb(203, 123, 75);
  }
}
