.contenedorIntroPortfolio {
  margin-top: 10rem;
  text-align: center;
}

.carousel {
  margin: 2.5rem 2.5rem 8rem 2.5rem;
}

.carousel-indicators {
  position: static;
  button.thumbnail {
    width: 100px;
  }
}
